@using HotelProject.WebUI.Dtos.FollowersDto;
@model ResultInstagramFollowersDto
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-facebook">
                <span class="s-icon"><i class="fa fa-facebook"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">25021</h4>
                        <p class="m-0">Takipçi</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">500</h4>
                        <p class="m-0">Takip Edilen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <span class="s-icon"><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.LinkedinFollowers</h4>
                        <p class="m-0">Takipçi</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.LinkedinFollowing</h4>
                        <p class="m-0">Takip Edilen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
            <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <span class="s-icon"><i class="fa fa-instagram"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.InstagramFollowers</h4>
                        <p class="m-0">Takipçi</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.InstagramFollowing</h4>
                        <p class="m-0">Takip Edilen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-twitter">
                <span class="s-icon"><i class="fa fa-twitter"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.TwitterFollowers</h4>
                        <p class="m-0">Takipçi</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.TwitterFollowing</h4>
                        <p class="m-0">Takip Edilen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>