@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
    string cardCss = "";
    string disableButton = "";
}



<div class="table-responsive mt-3">
    <h1 class="card-title text-muted mb-4">Rezarvasyon Listesi</h1>

    <form method="post">
        <input type="text" class="form-control" name="GuestName" placeholder="Misafir Adı" />
        <br />
        <button class="btn btn-outline-dark"><i class="fa fa-search"></i> Ara</button>
    </form>

    @if (TempData["showAllButton"] != null)
    {
        <br />
        <a href="/AdminBooking/Index" class="btn btn-outline-primary">Tüm Kayıtlar</a>
    }

    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Misafir</th>
                <th scope="col">Giriş Tarihi</th>
                <th scope="col">Çıkış Tarihi</th>
                <th scope="col">Durum</th>
                <th colspan="4" class="text-center" scope="col">İşlemler</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            count++;

            if (item.Status == "Onay Bekliyor")
            {
                cardCss = "primary";
            }

            if (item.Status == "Beklemede,Müşteri Aranacak")
            {
                cardCss = "warning";
            }

            if (item.Status == "İptal Edildi")
            {
                cardCss = "danger";

            }

            if (item.Status == "Onaylandı")
            {
                cardCss = "success";
                disableButton = "disabled";
            }
            else
            {
                disableButton = "";
            }

            <tbody>
                <tr>
                    <td style="text-transform:capitalize">@item.NameSurname</td>
                    <td>@(((DateTime)item.CheckIn).ToString("D"))</td>
                    <td>@(((DateTime)item.CheckOut).ToString("D"))</td>
                    <td>
                        <span class="badge badge-@cardCss px-2">@item.Status</span>
                    </td>
                    <td>
                        <span>
                            <a href="/AdminBooking/ApprovedReservation/@item.BookingID"  class="btn btn-outline-success @disableButton"><i class="fa fa-check m-r-5"> Onayla</i></a>
                        </span>
                    </td>
                    <td>
                        <span>
                            <button onclick="CancelReservation(@item.BookingID)" class="btn btn-outline-danger"><i class="fa fa-times "></i> İptal Et</button>
                        </span>

                    </td>
                    <td>
                        <span>
                            <a href="/AdminBooking/WaitReservation/@item.BookingID" class="btn btn-outline-warning"><i class="fa fa-check m-r-5"></i> Beklet</a>
                        </span>
                    </td>
                    <td>
                        <span>
                            <a href="/AdminBooking/ReservationUpdate/@item.BookingID" class="btn btn-outline-primary"><i class="fa fa-edit m-r-5"></i> Güncelle</a>
                        </span>
                    </td>
                </tr>
            </tbody>

        }

    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function CancelReservation(id) {
        Swal.fire({
            title: "Kayıt Silme Onayı",
            html: "Rezervasyon iptal edilsin mi?>",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Evet",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/AdminBooking/CancelReservation/" + id;
            }
            else {
                Toast.fire({
                    icon: "warning",
                    title: "Rezervasyon iptal etme işlemi iptal edildi."
                });
            }
        });
    }
</script>
@await Html.PartialAsync("~/Views/AdminLayout/NotificationPartial.cshtml")